{
    "slack_token": "",
    "spotify_username": "",
    "spotify_client_id": "",
    "spotify_client_secret": "",
    "spotify_playlist_id": "",
    "spotify_scope": "playlist-read-private playlist-read-collaborative playlist-modify-public playlist-modify-private streaming ugc-image-upload user-follow-modify user-follow-read user-library-read user-library-modify user-read-private user-read-birthdate user-read-email user-top-read user-read-playback-state user-modify-playback-state user-read-currently-playing user-read-recently-played",
    "allow_explicit": false
}